name: Python SDK CI

on:
  push:
    branches: [ "main" ]
    paths: [ "packages/python/**" ]
  pull_request:
    branches: [ "main" ]
    paths: [ "packages/python/**" ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/python

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[dev]
        
    - name: Lint with Ruff
      run: ruff check .
      
    - name: Type Check with MyPy
      run: mypy letsping.py
      
    - name: Test with Pytest
      run: pytest tests/