name: Python SDK

on:
  push:
    paths: ["packages/python/**"]
  pull_request:
    paths: ["packages/python/**"]

defaults:
  run:
    working-directory: packages/python

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -e .[dev]

      - name: Lint with Ruff
        run: ruff check .

      - name: Type check with MyPy
        run: mypy letsping.py

      - name: Test with Pytest
        run: pytest tests/ --cov=letsping --cov-report=term-missing